// Override default variables before the import
// you can open the bootstrap.scss module and check any available variables.
$highlight-primary--light: #FCD925;
$highlight-secondary--light: #F8B129;

$highlight-primary--dark: #FCD925;
$highlight-secondary--dark: #F8B129;

$enable-rounded: false;

$text-primary--light: #183153;
$text-primary--dark: #FAFAFA;
$text-secondary--light: #2A4758;
$text-secondary--dark: #EAF0F3;

$background-primary--light: #FAFAFA;
$background-secondary--light: #EAF0F3;


$background-primary--dark: #183153;
$background-secondary--dark: #2A4758;

$body-bg: #FAFAFA;
$body-color: $text-primary--light;

$text-primary: $text-primary--light;
$text-secondary: $text-secondary--light;

$background-primary: 'background-primary';
$background-secondary: 'background-secondary';
$text-primary: 'text-primary';
$text-secondary: 'text-secondary';
$highlight-primary: 'highlight-primary';
$highlight-secondary: 'higlight-secondary';

$themes: (
    light: (
      background-primary: $background-primary--light,
      background-secondary: $background-secondary--light,
      text-primary: $text-primary--light,
      text-secondary: $text-secondary--light,
      highlight-primary: $highlight-primary--light,
      highlight-secondary: $highlight-secondary--light,
    ),
    dark: (
      background-primary: $background-primary--dark,
      background-secondary: $background-secondary--dark,
      text-primary: $text-primary--dark,
      text-secondary: $text-secondary--dark,
      highlight-primary: $highlight-primary--dark,
      highlight-secondary: $highlight-secondary--dark,
    ),
);

$theme-map: null;

@mixin themeify($themes) {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .theme__#{$theme} & {

      // make a class for each theme using interpolation -> #{}
      // use & for making the theme class ancestor of the class
      // from which you use @include theme() {...}
      @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
        @content;    // the content inside @include theme() {...}
    
    }
    // no use of the variable $theme-map now
    $theme-map: null !global;
  }
}

@function themed($key){
  @return map-get($theme-map, $key);
};


